
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
  font-family: 'Noto Sans', sans-serif;
}
/* Contributed by Qingyuan Zeng s316740 (lines 2 - 80)*/
.navigation{
  position: fixed;
  background-color: rgb(250, 250, 250);
  border-bottom-style: solid;
  border-bottom-width:1px;
  border-color: rgb(220,220,220);
  display: grid;
  grid-area: nav;
  grid-template-areas: 'logo links socialMedia';
  grid-template-columns: 15% 70% 15%;
  height: 3rem;
  opacity: 1;
  transition: 0.28s ease;
  width: 100%;
}

.navigationLogo{
  display: flex;
  flex-direction: row;
  grid-area: logo;
  height: 3rem;
  justify-content: center;
  width: 100%;
}
.navigationLogo1{
  align-self:flex-start;
  display: flex;
  justify-content: flex-start;
}
.navigationLogo2{
  align-self:flex-start;
  display: flex;
  justify-content: flex-start;
}

.navigationLinks {
  align-items: center;
  display: flex;
  grid-area: links;
  height: 3rem;
  justify-content: center;
  width: 100%;
}
.navigationLinks ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content:flex-end;
  list-style: none;
  margin: 0;
  width: 100%;
}
.navigationLinks  li{
margin-right: 2%;
}
.navigationLinks a{
  align-items: center;
  color: rgb(49, 48, 46);
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  transition: 0.28s ease;
}
.navigationLinks  a:hover{
  background-color:rgb(76, 76, 76);
  color: white;
}
.navigationSocialMedia{
  align-items: center;
  display: flex;
  grid-area: socialMedia;
  height: 3rem;
  justify-content: center;
  width: 100%;
}
.navigationSocialMedia a{
  margin: 0 1rem;
}
.heading{
  align-content: center;
  display: flex;
  grid-area: heading;
  justify-content: center;
  padding-bottom: 10%;
  text-align: center;
}
.heading span{
  font-size: 1.2rem;
}

/* Contributed by Jani Junno s321614 (lines 86 - 259) *


/* This sets the size of the banner images for the pages*/
.comps_info_cover_image{
  max-width: 100%;
}

/* This sets the position and colour of the blurb under the top banner on the pages*/
.heading, .caption{
  text-align: center;
  max-width:80%;
  color: #333333;
  margin-left: auto;
  margin-right: auto;
}


/* This sets the background colour, padding and text colour for footer*/
footer{
  background-color: #dcdcdc;
  padding: 20px 20px;
  color: #333333;
  text-align: center;
}


/* Competitions More Details page (Contributed by Shaakya Weerasundera s307943)*/

.comps_details_container{
  width:80%;
  max-width: 900px;
  color: #333333;
  margin-left: auto;
  margin-right: auto;
}

/* This style is for every card (coding Competition, poster Competition, Business Innovation Challenge, Cybersecurity Challenge )*/

.coding, .poster, .bic, .cyber{
  padding: 20px;
  box-shadow: 0 4px 8px;
  background: #dcdcdc;
}

p,
strong{
  font-size: 20px;
}
