body{
  font-family: Garamond;
}
/* Contributed by Qingyuan Zeng s316740 (lines 2 - 80)*/
.navigation{
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-area: nav;
  opacity: 0.5;
  height: 3rem;
  grid-template-areas: 'logo link socialMedia';
  grid-template-columns: 15% 70% 15%;
  transition: 0.28s ease;
  border-bottom-style: solid;
  border-bottom-width:1px;
  border-color: rgb(220,220,220);
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navigationLogo{
  display: flex;
  flex-direction: row;
  grid-area: logo;
}

.navigationLogo1{
  display: flex;
  justify-content: flex-start;
  align-self:flex-start;
}

.navigationLogo2{
  display: flex;
  justify-content: flex-start;
  align-self:flex-start;
}

.navigationLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 3rem;
}


.navigationLinks  a{
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(49, 48, 46);
  text-decoration: none;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 7%;
  transition: 0.28s ease;
  cursor: pointer;
}

.navigationLinks  a:hover{
  background-color:rgb(76, 76, 76);
  color: white;
}

.navigationSocialMedia{
  grid-area: socialMedia;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.navigationSocialMedia a{
  margin: 0 1rem;
}


/* Contributed by Jani Junno s321614 (lines 86 - 259) */


/* This sets the size of the banner images for the pages*/
.image{
  max-width: 100%;
}

/* This sets the position and colour of the blurb under the top banner on the pages*/
.blurb{
  text-align: center;
  max-width:80%;
  color: #333333;
  margin-left: auto;
  margin-right: auto;
}

/* Card_wrapping holds all the cards on the pages*/
.card_wrapping{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* This sets the relative sizes of the card on the Events and About pages*/
.event_container,
.about_container,
.about_container2{
  align-items: center;
  position: relative;
  width: 350px;
  height:450px;
  margin: 20px 20px;
  float:left;
}


/* This sets the position, size, text alignment and box shadow on all the cards on Events and About pages*/
.event_card_1,
.event_card_3,
.event_card_2,
.about_card_2018,
.about_card_2017,
.about_card_2016,
.about_card_2015,
.about_card_2014
{
  position:absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0 4px 8px;
}


/* This sets the size and content position on all the cards on Events and About pages*/
.about_content{
  position: absolute;
  width: 100%;
  height: 100%;
}


/* This sets the features for the underline under the card headings*/
hr{
  width: 80%;
  border: 1px solid #333333;
}

/* This sets the colour of the headings on the cards o Events page*/
.event_info{
  color: #333333;
}

/* This sets the position and size of the content on all cards on Events and About pages*/
.event_content1,
.event_content2,
.event_content{
  position: absolute;
  width: 100%;
  height: 100%;
}

.about_card_2018{
  background-image: url("images/2018.JPG");
  background-size: 100% 100%;
}

.about_card_2017{
  background-image: url("images/2017.JPG");
  background-size: 100% 100%;
}

.about_card_2016{
  background-image: url("images/2016.JPG");
  background-size: 100% 100%;
}

.about_card_2015{
  background-image: url("images/2015.JPG");
  background-size: 100% 100%;
}

.about_card_2014{
  background-image: url("images/2014.JPG");
  background-size: 100% 100%;
}

/* This sets the background image and it's size for Employer Speed Dating card on Events page*/
.event_card_1{
  background-image: url("images/employer.jpg");
  background-size: 100% 100%;
}

/* This sets the background image and it's size for Cyber Security Workshop card on Events page*/
.event_card_2{
  background-image: url("images/cyber_security.jpg");
  background-size: 100% 100%;
}

/* This sets the background image and it's size for Academic Excellence Awards card on Events page*/
.event_card_3{
  background-image: url("images/academic_excellence.JPG");
  background-size: 100% 100%;
}

/* This sets the position for the text on the cards on Events page*/
.event_text{
  max-width:80%;
  margin-left: auto;
  margin-right: auto;
}

/* This sets the look and feel for the Register and More Info buttons on Events page*/
button,
#registerContact,
#infoContact{
    padding: 5px;
    border: 2px solid #333;
    background: transparent;
    width:30%;
    margin-left: auto;
    margin-right: auto;
}

/* This sets the background colour, padding and text colou for footer*/
footer{
  background-color: #dcdcdc;
  padding: 20px 20px;
  color: #333333;
  text-align: center;
}


/* More info page starts here */

.more_info_container{
  max-width:80%;
  color: #333333;
  margin-left: auto;
  margin-right: auto;
}

.red_text{
  color: red;
}

.more_info_content{
  padding: 20px;
  box-shadow: 0 4px 8px;
}

/*Registration form css starts here */

/* Container that holds the content */
.form_container{
  max-width: 40%;
  margin: 20px auto;
  box-shadow: 0 4px 8px;
  padding: 20px;
}

/* Styling and position for registration content title */
.title{
  margin-bottom: 25px;
  color: #ff2020;
  text-align: center;
}

/* Styling for the form fields */
.field{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

/* Styling and position for registration content title */
label{
   width: 30%;
   margin-right: 10px;
}

/* Styling for text fields on the form */
.details,
.textbox{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* Position and size for the select menus on the form */
.select_menu{
  position: relative;
  width: 100%;
  height: 37px;
}

/* Styling and positioning for the selection menus on the form */
.select_menu:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
}

/* Size and styling for the arrow on the selection menu */
.select_menu select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}

/* Interactive feature colour for the form fields */
.details:focus,
.textarea:focus,
.select_menu select:focus{
  border: 1px solid #ff2020;
}

/* position and size for the checkbox text */
.check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
}

/* Position for the checkbox */
input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* Styling for the checkbox */
.checked{
  width: 15px;
  height: 15px;
  border: 1px solid #ff2020;
  display: block;
  position: relative;
}

/* Sets the checkbox color to red when clicked */
.check input[type="checkbox"]:checked ~ .checked{
  background: #ff2020;
}

/* Set the font family to same as the rest of the page for textbox */
textarea{
  font-family: Garamond;
}

/* Styling for the registration button */
.btn{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  background:  #ff2020;
  color: #fff;
  border-radius: 3px;
}

/* Hover effect for the redistration button */
.btn:hover{
  background: #ff5959;
}

.submission_text{
  text-align: center;
}

.hidden{
  display: none;
}

.show{
  display: block;
}

span{
  color: #ff2020;
}
